*{

    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

.main{
    display:flex;
    flex-direction: column;
    height:100vh;
    background-color: rgba(250, 250, 250, 0.89);
    padding:10px;
}
.second{
    padding:10px 0 20px 0;
    border:none;
    border-radius: 10px;
    height:auto;
    padding:20px;
  
    
}

.task_manager{
    font-size:2rem;
    font-family: arial,sans-serif;
    padding: 20px;
    color: rgb(51, 4, 51);
    
}

.task-input{
    font-size: 15px;
    font-family: arial,sans-serif;
    padding: 15px;
    margin: 0 0 15px 0;
    width: 50%;
    border-radius:6px;
    border:none;
    outline: none;
    box-shadow: 0 0 5px black;
    
}

.add-btn{
    padding: 16px 35px 16px 35px;
    text-align:center;
    font-size: 15px;
    font-family: arial,sans-serif;
    border:none;
    transition: all 0.1s ease;
    border-radius:5px;
    font-weight: bold;
    cursor: pointer; 
    margin: 20px 0 0 5px;   
    box-shadow: 3px 3px 5px black;
    background-color: green;
    color:white;

}

.add-btn:hover{
    box-shadow:  inset -3px -3px 8px black;
    border-radius: 10px;
    
}

.add-btn:active{
    background-color: rgba(255, 255, 255, 0.678);
    color:black;
}


.ttext{
    color: black;
    font-size: 20px;
   
}

.tasks{
    
    padding:10px;
    margin-top: 10px;
}

.task-item {
    display: flex;
    margin-top: 10px;
    align-items: center;
    border-radius: 10px;
    padding: 20px 15px 20px 15px;
    transition: opacity 0.5s ease;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.644);
}

.task-item.deleting {
  opacity: 0;
  animation: delete .6s ease;
}

@keyframes delete{
    0% {
        transform: scale(100%);
    }
    100%{
        transform: scale(0);
    }

}

.task {
  flex: 1;
}

.icons {
  display: flex;
  gap: 10px;
}

.delete-icon {
  color: red;
  font-size: 25px;
  cursor: pointer;
}

.edit-icon {
  color: blue;
  font-size: 25px;
  cursor: pointer;
}

.cancel-icon{
    color: grey;
    font-size: 25px;
    cursor: pointer;
}

.save-icon{
    color: green;
    font-size: 25px;
    cursor: pointer;
}

.edit{
    padding: 10px 15px 10px 15px;
    width: 90%;
    border-radius: 5px;
    font-size:18px;
    outline:none;

}
